<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Favicons -->
  <link href="img/Prayas_logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">




  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <!-- <link href="css/members.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="contact.css">
  <link rel="stylesheet" href="projects2.css">

  <link href='css_contact/maint.css' rel="stylesheet" type="text/css">
<link href='css_contact/au.css' rel="stylesheet" type="text/css">
<link href='css_contact/contact.css' rel="stylesheet" type="text/css">
<link href='css_contact/members.css' rel="stylesheet" type="text/css">
<link href='css_contact/support.css' rel="stylesheet" type="text/css">
<link href='css_contact/map.css' rel="stylesheet" type="text/css">
<link href='css_contact/initiatives.css' rel="stylesheet" type="text/css">
<link href='css_contact/timeline.css' rel="stylesheet" type="text/css">
<link href='css_contact/media-gallery-cards.css' rel="stylesheet" type="text/css">
<link href='css_contact/top.css' rel="stylesheet" type="text/css">



  <title>Contact us</title>
</head>
<body>

    
    <header id="header" class="header-scrolled">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">PRAYAS</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <!-- <li class="menu-active"><a href="index.html">Home</a></li> -->
                    <li><a href="index.html">Home</a></li>
                    <li><a href="projects2.html">Projects</a></li>
                    <!-- <li><a href="center.html">Centers</a></li> -->
                    <!-- <li><a href="networkpage.html">Our Network</a></li> -->
                    <li class="menu-active"><a href="members.html">Members</a></li>
                    <!-- <li><a href="#footer">Support Us</a></li> -->
                    <li><a href="https://www.gyws.org/">GYWS</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <div id="contatti" class="container-fluid mt-5" style="margin-top:80px !important;">
        <div class="container-fluid">
            <div style="height:500px;" class="row maps xd"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.960628936669!2d87.2910206149543!3d22.27948118533436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d41313ab1978d%3A0xfa15d2e24afcf94d!2sGopali+Youth+Welfare+Society!5e0!3m2!1sen!2sin!4v1562858366712!5m2!1sen!2sin"
                    style="border:0" allowfullscreen="" frameborder="0"></iframe>
                <div class="xd1">
                    <h2 class="text-uppercase mt-3 font-weight-bold text-white">DROP YOUR SUGGESTION</h2>
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Name" required class="form-control mt-2" name="name">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" placeholder="Email" required="" class="form-control mt-2" name="email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="number" placeholder="Contact No" required="" class="form-control mt-2" name="contact_number">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea id="exampleFormControlTextarea1" placeholder="Message" rows="3" required="" class="form-control" name="message"></textarea>
                                </div>
                            </div>
                            <!-- <% if(s_msg != '' || e_msg != '') {%> -->
                                <div class="col-12">
                                    <label class="contact_message">
                                        <!-- <% if(s_msg != '') {%>
                                            <%= s_msg %>
                                        <% } %>
    
                                        <% if(e_msg != '') {%>
                                            <%= e_msg %>
                                        <% } %> -->
                                    </label>
                                </div>
                            <!-- <% } %> -->
                            <div class="col-12  mb-2"><button type="submit" class="btn btn-light">SUBMIT</button></div>
                        </div>
                    </form>
                </div>
                <div class="text-white xd3">
                    <h2 class="text-uppercase mt-4 font-weight-bold text-center">Where we are</h2><i
                        class="fas fa-phone mt-3"></i><a href="tel:+"> (03222) 296537</a><br><i
                        class="fa fa-envelope mt-3"></i><a href="">gywsoffice@gmail.com</a><br><br><i
                        class="fas fa-globe mt-3"></i> Gopali Youth Welfare Society(Main Office),<br>Gopali (No-shooting
                    Area),<br> P.O. – Salua, Dist. – Paschim Medinipur,<br> West Bengal, Pin-721145.<div class="my-4"><a
                            href="https://www.facebook.com/gyws.iitkgp/"><i class="fab fa-facebook fa-3x pr-4"></i></a><a
                            href="https://www.linkedin.com/company/gopali-youth-welfare-society?originalSubdomain=in"><i
                                class="fab fa-linkedin fa-3x"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- <section id="team" class="pb-5">
        <div class="profile-card-2"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg" class="img img-responsive">
            <div class="profile-name">JOHN DOE</div>
            <div class="profile-username">@johndoesurname</div>
            <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
    </div>
    </section>
     -->

     <!--==========================
    Footer
  ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4  footer-info">
                        <h3>PRAYAS</h3>
                        <p> To know more, feel free to reach out to us. We are looking forward to hearing from you. It's
                            never too late to start a business and create an impact. We are always with you!</p>
                    </div>

                    <div class="col-lg-4  footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="index.html">Home</a></li>
                            <!-- <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li> -->
                            <li><i class="ion-ios-arrow-right"></i> <a href="projects2.html">Projects</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="members.html">Members</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="https://www.gyws.org/">GYWS</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4  footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Gopali Village <br> Near Petrol Pump, Salua (PS)<br> Paschim Medinipur (Dist.) <br> West
                            Bengal - 721145 <br>
                            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
                            <strong>Email:</strong> prayas.iitkgp@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
                            <a href="https://www.google.com/url?q=https://www.facebook.com/prayasgyws/"
                                class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.google.com/url?q=https://www.instagram.com/prayas_gyws/"
                                class="instagram"><i class="fa fa-instagram"></i></a>
                            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
                            <a href="https://www.google.com/url?q=https://www.linkedin.com/company/prayas-gyws/"
                                class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                    <!-- <div class="col-lg-3  footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div> -->

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>PRAYAS</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
      All the links in the footer should remain intact.
      You can delete the links only if you purchased the pro version.
      Licensing information: https://bootstrapmade.com/license/
      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
    -->
                <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            </div>
        </div>
    </footer>
    <!-- #footer -->

</body>
</html>